# Python
venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
.pyre/
.python-version

# Environment files
.env
*.env
backend/.env
frontend/.env

# Node
node_modules/
.next/
out/
build/
.DS_Store
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
package-lock.json

# Editor
.vscode/
.idea/
*.log
